
.table {
    width: 90%;
    /*color: #fff;*/
}

td {
    width: 50%;
}

td img {
    height: 150px;
    width: auto;
}

tr {
    padding: 10px;
    height: 180px;
}

tr.clr-purple {
    background-color: #6610f2 ;
}
tr.clr-orange {
    background-color: #fd7e14 ;
}
tr.clr-yellow {
    background-color: #ffc107 ;
}
tr.clr-green {
    background-color: #28a745 ;
}
tr.clr-dark {
    background-color: #343a40 ;
}

tr:hover {
    font-size: 1.1em;
}

tr.active {
    /*color: black;*/
    background-color: magenta !important;
}

tbody tr.active:hover {
    /*color: black;*/
    background-color: magenta !important;
}
