.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

table {
    width: 90%;
}

tr {
    height: 150px;
}
table tr {
    width: 100%;
}

table tr:hover {
    color: #61dafb;
}

td {
    width: 50%;
}

td img {
    height: 150px;
    width: auto;
}

.active {
    color: crimson;
    background-color: #222 ;
}

.active:hover {
    color: crimson;
    background-color: #222;
}